h1{
    color: rgb(255, 77, 0);
}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


#pokemonList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}
.pokerCard{
    display: flex;
    flex-direction: column;
    border: solid grey;
    margin: 3px;
    width: 313px;
    height: auto;
}